<header>
    <h1>KeepNotes</h1>
    <nav>
        <ul>
            <li>Create</li>
            <li>Notes</li>
            <li>
                <img src="/images/user-circle-solid.svg" alt="login">
                Login
            </li>
        </ul>
    </nav>
</header>