<header>
    <h1>KeepNotes</h1>
    <nav>
        <ul>
            <li><a href='/create-note'>Create</a></li>
            <li><a href='/notes'>Notes</a></li>
            <li>
                <img src="/images/user-circle-solid.svg" alt="login">
                <%  if(locals.user) {%>
                    <a href="/users/sign-out"><%=locals.user.name%></a>
                <%  } else{ %>
                    <a href="/users/sign-in">Login</a>
                <% } %>
                
            </li>
        </ul>
    </nav>
</header>