<header>
    <h1>KeepNotes</h1>
    <nav>
        <ul>
            <li><a href='/create-note'>Create</a></li>
            <li><a href='/notes'>Notes</a></li>
            <li>
                <img src="/images/user-circle-solid.svg" alt="login">
                Login
            </li>
        </ul>
    </nav>
</header>