<link rel="stylesheet" href="/css/home.css">
<div class="padding"></div>
<div class="padding"></div>
<div id="create-tool">
    <button type="button"><a href='/create-note'>Create</a></button>
    <button type="button"><a href="/notes">Notes</a></button>
</div>
<div class="padding"></div>
<div class="padding"></div>
