header{
    margin: 0px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F4A950;
    padding: 1%;

    h1{
        font-size: 2.8rem;
        font-family: 'Forte';
        margin: 0;
        color: #161B21;
        padding-left: 2rem;
    }
    nav ul li{
       
        display: inline-block;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
        
        margin-right: 2.5rem;
        list-style: none;
        img{
            position: relative;
            top: 3px;
            width: 1.5rem;
            color: #161B21;
            height: 1.5rem;
        }
        a{
            color: #161B21;
            text-decoration: none;
        }
    }
    nav ul li:hover{
        cursor: pointer;
    }
    
}