body {
  margin: 0px;
  padding: 0px;
  background-color: #161B21 !important; }
  body .padding {
    height: 16vh; }
  body #create-tool {
    background-color: #F4A950;
    margin: auto;
    width: 50vw;
    height: auto;
    min-height: 30vh;
    display: flex;
    flex-direction: column; }
    body #create-tool button {
      position: relative;
      left: 40%;
      width: 20%;
      height: 50px;
      color: #161B21;
      font-size: 1.2em;
      margin: 20px 0; }
    body #create-tool button:hover {
      cursor: pointer; }
