body {
  margin: 0px;
  padding: 0px;
  background-color: #161B21 !important; }
  body #layout-main {
    width: 100%;
    min-height: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4rem;
    overflow: hidden; }
    body #layout-main div {
      width: 200px;
      height: 200px;
      background-color: white;
      box-shadow: 1px 1px 2px 2px grey; }
